# BEGIN YOURLS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /urlslice.me/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /urlslice.me/yourls-loader.php [L]
</IfModule>
# END YOURLS
